
entrypoint = "api.py"

modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python", "api.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 10000
externalPort = 3000

[workflows]
runButton = "Run API"

[[workflows.workflow]]
name = "Run API"
author = 39547853

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python plaid_sync.py"

[auth]
pageEnabled = false
buttonEnabled = false
